@import '../../../../../app/globals.scss';

.StarButton {
	position: relative;
	width: 24px;
	height: 24px;

	.filled, .border, .half {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 20px;
	}
	.filled, .half {
		overflow: hidden;
		color: rgb(247, 210, 46);
		opacity: 0;
	}
	.border {
		color: gray;
	}

	&._full {
		.filled {
			opacity: 1;
		}
		.border {
			opacity: 0;
		}
	}
	&._half {
		.half {
			opacity: 1;
		}
		.border {
			opacity: 0;
		}
	}
}