@import '../../../../../app/globals.scss';

.StarButton {
	position: relative;
	width: 14px;
	height: 14px;

	.filled, .border, .half {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 14px;
	}
	.filled, .half {
		overflow: hidden;
		color: yellow;
		opacity: 0;
	}
	.border {
		color: gray;
	}

	&._full {
		.filled {
			opacity: 1;
		}
		.border {
			opacity: 0;
		}
	}
	&._half {
		.half {
			opacity: 1;
		}
		.border {
			opacity: 0;
		}
	}
}