@import '../../../app/globals.scss';


.main {
    position: relative;
    padding-bottom: $base * 5;
    min-height: 100vh;
    
    ._backgroundFixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -2;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    ._backTint {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: 0.3;
        z-index: -1;
    }
}